* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
svg:not(:root) {
  overflow: hidden;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-green: rgb(172, 209, 172);
  --very-light-blue: #72a0da;
  --very-light-blue2: #1e508d;
  --hospital-blue: #e1deff;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --bordes: 2px solid rgb(14, 72, 196);
  --bordes-two: 2px solid green;
  --sombras-one: 0.5px 0.5px 10px 0.4px #72a0da;
  --sombras-two: 0px 3px 20px 2px #186bd1;
  --section-one: #cadffb;
  --section-two: #a0c5f7;
  --sombras-hr: inset 0 12px 12px -12px var(--very-light-blue2);
}

.logo {
  width: 120px;
  height: 120px;
  margin: 0px;
  border-bottom: var(--bordes);
  border-right: var(--bordes);
  border-left: var(--bordes);
  border-radius: 0px 0px 20px 20px;
  box-shadow: var(--sombras-two);
  cursor: pointer;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: inherit;
  gap: 20px;
}

.navbar-right ul li a {
  text-decoration: none;
  color: var(--dark);
  padding: 8px 15px;
  border: var(--bordes);
  border-radius: 5px;
  font-weight: 500;
  background-color: var(--white);
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  background-color: var(--very-light-blue);
  box-shadow: var(--sombras-one);
  border-radius: 5px;
  transition: all 0.5s;
  color: var(--white);
}

.navbar-right {
  height: 100%;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 28px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px 0px 24px;
  border-bottom: var(--bordes);
  box-shadow: var(--sombras-two);
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: var(--hospital-blue);
  top: 0px;
}
.section-one {
  background-color: var(--section-one);
  padding: 10rem 10rem 5rem 10rem;
  z-index: 2;
}

.container-section-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  width: 100%;
}
.p {
  width: 100%;
  text-align: justify;
}
hr {
  margin-top: 15px;
  margin-bottom: -5px;
  border: 0;
  height: 12px;
  box-shadow: var(--sombras-hr);
}

.seeMoreArrow,
.seeLassArrow {
  fill: var(--very-light-blue);
  margin: 0;
  padding: 0;
}

#seeMore,
#seeLess {
  display: flex;
  float: right;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

#seeMore {
  display: none;
}

.ola-shape-fill {
  fill: var(--section-one);
}
.ola-bottom-one {
  background-color: var(--section-two);
}
.ola-bottom-one svg {
  height: 40px;
  width: 100%;
}
.section-two {
  display: flex;
  gap: 5rem;
  padding: 5rem 10rem 5rem 10rem;
  background-color: var(--section-two);
}

.section-two-one {
  float: left;
  width: 50%;
}
.section-two-two {
  float: right;
  width: 50%;
}

.section-two-one h1,
.section-two-two h1 {
  display: flex;
  justify-content: center;
}

.section-two-two .section-right h3,
.section-two-one .section-left h3,
.section-three-one {
  padding: 2rem 2rem 1rem 0rem;
}

.section-two-one p,
.section-two-two p {
  text-align: justify;
}

.columns {
  display: flex;
  width: 100%;
  list-style: none;
  border: var(--bordes);
  justify-content: center;
  align-items: center;
}

.columns li {
  width: 33%;
  font-size: 1.1em;
  text-align: center;
  font-weight: 500;
  color: var(--white);
  background-color: var(--very-light-blue);
}

.columns li:nth-child(2) {
  border-right: var(--bordes);
  border-left: var(--bordes);
  width: 34%;
}

.second {
  border-top: none;
  font-size: 0.9em;
  font-weight: 400;
  height: auto;
}

.second li {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  background-color: var(--very-light-green);
}

.third {
  background-color: rgb(219, 189, 189);
}

.third li {
  height: auto;
  background-color: rgb(219, 189, 189);
}

.table .third:nth-child(3) li {
  height: 3.4em;
}

.table .third:nth-child(4) li {
  height: 4.2em;
}

.table .third:nth-last-child(1) li:nth-child(1) {
  border-bottom-left-radius: 1rem;
}
.table .third:nth-last-child(1) li:nth-last-child(1) {
  border-bottom-right-radius: 1rem;
}

.table .third:nth-last-child(1) {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#hideShowTable,
#showShowTable {
  float: right;
  height: auto;
  margin-top: 1.2em;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: var(--bordes);
  border-radius: 10px;
  background-color: var(--very-light-blue2);
  color: var(--white);
  font-size: 0.9em;
  cursor: pointer;
  box-shadow: var(--sombras-one);
  margin-bottom: 3rem;
  margin-left: 9rem;
}

#showShowTable:hover,
#hideShowTable:hover {
  font-weight: 500;
  background-color: var(--very-light-blue);
  transition: all 2s;
}

#hideShowTable {
  display: none;
}

#elementsHide {
  display: none;
}

.li-restrictions span,
.li-solutions span {
  color: var(--black);
}

.li-restrictions,
.li-solutions {
  text-align: justify;
}

ul .li-restrictions:nth-child(1) {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.ul-restrictions,
.ul-solutions {
  padding-left: 2rem;
  color: var(--very-light-blue2);
}

b {
  color: var(--very-light-blue2);
}

.li-solutions {
  padding-bottom: 0.7rem;
}
